ul.main-slider-controls
    li.main-slider-controls__control.main-slider-controls__control_1
    li.main-slider-controls__control.main-slider-controls__control_2
    li.main-slider-controls__control.main-slider-controls__control_3
    li.main-slider-controls__control.main-slider-controls__control_4
    li.main-slider-controls__control.main-slider-controls__control_5