form.navbar-form.navbar-right
    .form-group
        .input-group.header-search.search
            .input-group-addon.search__addon
                img(
                alt='search'
                src='./img/search.png'
                )
            input.form-control.search__input(type="text")