include ../main-navbar/main-navbar

mixin header(data)
    nav.navbar.navbar-inverse.header
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed.header__toggle(
                type="button"
                data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false"
                )
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                include ../main-brand/main-brand
            .navbar-collapse.collapse#bs-example-navbar-collapse-1
                include ../search/search
                +mainnavbar(data)
