@navbar-height:                                72px;
@navbar-border-radius:                         0;
@navbar-inverse-brand-color:                   rgb(232, 232, 232);
@navbar-inverse-brand-hover-color:             rgb(232, 232, 232);
@navbar-inverse-link-color:                    rgb(232, 232, 232);
@navbar-inverse-link-hover-color:              rgb(232, 232, 232);
@navbar-inverse-link-active-bg:                #3c3838;