.jumbotron.features
    .container-fluid.features__wrap
        .row
            .col-md-4.col-sm-5
                h2.features__title Creativio Website Theme: Perfect for Anyone
                p.features__desc
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    | Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.
                    | Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.
                p.features__desc
                    | Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam.
                    | In scelerisque sem at dolor. Maecenas mattis.
                input.btn.features__button(
                type="button"
                value='See Our Work'
                )
            .col-md-8.col-sm-7.features__slider
                include ../main-slider/main-slider
            .col-sm-12.features__controls
                include ../main-slider-controls/main-slider-controls

