.main-slider
    .main-slider__slide.main-slider__slide_1
    .main-slider__slide.main-slider__slide_2
    .main-slider__slide.main-slider__slide_3
    .main-slider__slide.main-slider__slide_4
    .main-slider__slide.main-slider__slide_5