extends ../blocks/layout-default/layout-default

block content

    -
        data = [
        {name: 'Home', url: './index.html', className: ''},
        {name: 'Pages', url: './pages.html', className: ''},
        {name: 'Portfolio', url: './portfolio.html', className: ''},
        {name: 'Blog', url: './blog.html', className: ''},
        {name: 'Archives', url: './archives.html', className: ''},
        {name: 'Contact', url: './contact.html', className: 'active'}
        ];

    include ../blocks/header/header
    +header(data)