extends ../blocks/layout-default/layout-default

block content

    -
        data = [
        {name: 'home', url: './index.html', className: 'active'},
        {name: 'pages', url: './pages.html', className: ''},
        {name: 'portfolio', url: './portfolio.html', className: ''},
        {name: 'blog', url: './blog.html', className: ''},
        {name: 'archives', url: './archives.html', className: ''},
        {name: 'contact', url: './contact.html', className: ''}
        ];

    include ../blocks/header/header
    +header(data)
    include ../blocks/features/features
